rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /selection/{docId} {
      allow read, write: if true;
    }
    match /toy_budget/{docId} {
      allow read, write: if true;
    }
  }
}
